# What is a Closure Table?
#### https://technobytz.com/closure_table_store_hierarchical_data.html

In [ ]:
import psycopg2
import pandas as pd

# Connecting to the PostgreSQL Database

In [27]:
def read_data_from_database():
    db_name = 'YOUR DB NAME'
    user_name = 'YOUR USER NAME'
    password = 'YOUR PASSWORD'

    #establishing the connection
    conn = psycopg2.connect(
       database=db_name, user=user_name, password=password, host='127.0.0.1', port= '5432'
    )
    #Creating a cursor object using the cursor() method
    cursor = conn.cursor()

    #Executing an MYSQL function using the execute() method
    cursor.execute("select version()")

    # Fetch a single row using fetchone() method.
    data = cursor.fetchone()
    print("Connection established to: ",data)

    #Retrieving data
    #DEPARTMENT IS THE TABLE NAME IN THIS CASE AND WE ARE ONLY RETREIVING 3 COLUMNS, NAMELY id, parent_id, and name_en
    cursor.execute('''SELECT id,parent_id,name_en from DEPARTMENT''')

    #Fetching 1st row from the table
    result = cursor.fetchall();
    #closing the connection
    conn.close()
    return result

Connection established to:  ('PostgreSQL 13.3, compiled by Visual C++ build 1914, 64-bit',)

# Converting the Results to Pandas DataFrame

In [28]:
results = read_data_from_database()
df = pd.DataFrame(result, columns = ["id", "parent_id", "name"])

# Generating the Closure Table

In [39]:
nodes = []
for i, record in df.iterrows():
    nodes.append((record.id, record.id))
    key = record.parent_id
    try:
        key = int(key)
    except:
        key = None
    while key is not None:
        nodes.append((record.id, key))
        key = df[df['id'] == key]['parent_id']
        key = float(key)
        try:
            key = int(key)
        except:
            key = None

In [42]:
table = pd.DataFrame(nodes, columns = ["Child ID", "Parent ID"])
table

     Child ID  Parent ID
0           1          1
1           2          2
2           2          1
3           3          3
4           3          1
..        ...        ...
116        60          1
117        61         61
118        61          1
119        62         62
120        62          1

[121 rows x 2 columns]